@use "../../scss/" as *;

.auth {
  min-height: 100vh;
  padding: 20px 0;
  background-color: $bodyBg;
  @include flex(center, center);
  .container {
    max-width: 1200px;
    margin: 0 auto;
    .auth-container {
      @include flex(unset, unset);
      background-color: $mainBg;
      padding: 40px;
      border-radius: 20px;
      height: max-content;
      .auth-signin {
        &-wrapper {
          @include flex(center, center);
          flex-direction: column;
          height: 100%;
          padding: 20px;
          width: 100%;
          &-header {
            margin-bottom: 20px;
            h2 {
              font-size: $fontSizeLarge;
              font-weight: 700;
              margin-bottom: 10px;
            }
            span {
              font-size: $fontSizeNormal;
              font-weight: 400;
            }
          }
          &-body {
            width: 100%;
            .item {
              @include flex(unset, unset);
              margin-bottom: 10px;
              flex-direction: column;
              gap: 8px;
              width: 100%;
              label {
                font-size: $fontSizeNormal;
                font-weight: 500;
              }
              input {
                background-color: $bodyBg;
                padding: 18px 20px;
                font-size: $fontSizeNormal;
                width: 100%;
                border-radius: 10px;
              }
            }
          }
          .btn-signin {
            margin-top: 20px;
            width: 100%;
            @include button($white, $mainColor);
          }
          .link-signup {
            font-size: $fontSizeNormal;

            font-weight: 400;
            display: flex;
            margin-top: 10px;
            h4 {
              font-size: $fontSizeNormal;
              font-weight: 400;
              cursor: pointer;
            }
          }
        }
      }
      .auth-image {
        transition: all 0.3s;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s;
        }
      }
      .auth-signup {
        &-wrapper {
          @include flex(center, center);
          flex-direction: column;
          height: 100%;
          padding: 20px;
          width: 100%;
          &-header {
            margin-bottom: 20px;
            h2 {
              font-size: $fontSizeLarge;
              font-weight: 700;
              margin-bottom: 10px;
            }
            span {
              font-size: $fontSizeNormal;
              font-weight: 400;
            }
          }
          &-body {
            width: 100%;
            .item {
              @include flex(unset, unset);
              margin-bottom: 10px;
              flex-direction: column;
              gap: 8px;
              width: 100%;
              label {
                font-size: $fontSizeNormal;
                font-weight: 500;
              }
              input {
                background-color: $bodyBg;
                padding: 18px 20px;
                font-size: 16px;
                width: 100%;
                border-radius: 10px;
              }
            }
          }
          .btn-signup {
            margin-top: 20px;
            width: 100%;
            @include button($white, $mainColor);
          }
          .link-signin {
            font-size: $fontSizeNormal;
            font-weight: 400;
            display: flex;
            margin-top: 10px;
            h4 {
              font-size: $fontSizeNormal;
              font-weight: 400;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
