@use "../../scss/" as *;
@use "sass:math";

.sidebar {
  min-width: $sideBarWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainBg;
  box-shadow: $box-shadow;
  z-index: 100;

  @include tablet {
    width: 100vw;
    background-color: $mainColor;
    color: $white;
    z-index: 1;
  }

  &__logo {
    @include flex(center, center);
    height: $sideBarLogoHeight;

    @include tablet {
      justify-content: space-between;
      height: math.div($sideBarLogoHeight, 1.8);
      padding: 0 $mobileSpacing;
      margin-bottom: $mobileSpacing;
    }

    img {
      width: 55px;
      height: 55px;
      object-fit: cover;
      cursor: pointer;
    }

    .sidebar-close {
      cursor: pointer;
      display: none;
      i {
        font-size: 3.4rem;
      }
      @include tablet {
        display: block;
      }
    }
  }
  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow: 1;

    &__item {
      @include flex(center, flex-start);
      position: relative;
      padding-left: 20%;
      margin-bottom: 2rem;
      width: 100%;
      transition: all 0.3s;
      cursor: pointer;

      @include tablet {
        padding-left: $mobileSpacing;
      }

      &:last-child {
        margin-top: auto;
        cursor: pointer;
      }

      &:hover {
        color: $mainColor;
        @include tablet {
          color: $orange;
        }
      }
      &.active {
        font-weight: 500;
        color: $mainColor;
        @include tablet {
          color: $orange;
        }
        &::before {
          content: "";
          position: absolute;
          width: 5px;
          height: 100%;
          left: 0;
          top: 0;
          background-color: $mainColor;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          @include tablet {
            margin-right: 1rem;
          background-color: $orange;
          }
        }
      }
      &__icon {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        margin-right: 1.6rem;
        @include flex(center, center);
        @include tablet {
          margin-right: 1rem;
        }

        i {
          font-size: 1.6rem;
        }
      }
    }
  }
}
