
@forward "./variavles";
@forward "./mixin";
@forward "./breakpoint";
@forward "./grid2";

@use './breakpoint' as *;
@use './mixin' as *;
@use './variavles' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: $txtColor;
  font-size: $fontSizeNormal;
  line-height: 1.5;
  background-color: $bodyBg;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

ul,
li {
  list-style-type: none;
}

.mb {
  margin-bottom: $spacing;

  @include tablet {
      margin-bottom: $mobileSpacing;
  }
}

.title {
  font-size: $fontSizeMedium;
  font-weight: 700;
}

.txt-success {
  color: $green;
}

.txt-danger { 
  color: $red;
}